Adam Ginsburg <keflavich@gmail.com>
Adam Ginsburg <keflavich@gmail.com> <adam.g.ginsburg@gmail.com>
Adam Ginsburg <keflavich@gmail.com> <keflavich@yahoo.com>
Adrian Damian <adrian.damian@nrc.ca> <Adrian.Damian@nrc.ca>
Andrew O'Brien <obrienan@uwm.edu> <marxide@users.noreply.github.com>
Angel Ruiz <angel.ruizca@gmail.com>
Antonio Ortega <antonio.ortega@ext.esa.int>
Ari Pollak <ajp@aripollak.com> <aripollak@users.noreply.github.com>
Austen Groener <Austen.Groener@gmail.com> <amg338@drexel.edu>
Austen Groener <Austen.Groener@gmail.com> <rocketboyausten@gmail.com>
Ayush Yadav <ayushyadav@outlook.com>
Benjamin Alan Weaver <baweaver@lbl.gov> <benjamin.weaver@nyu.edu>
Benjamin Alan Weaver <baweaver@lbl.gov> <benjamin.weaver@noirlab.edu>
Brett Morris <brettmorris21@gmail.com> <bmmorris@uw.edu>
Brian Svoboda <bsvo@lavabit.com> <bones253@gmail.com>
Brigitta Sipőcz <bsipocz@gmail.com>
Brigitta Sipőcz <bsipocz@gmail.com> <b.sipocz@gmail.com>
Caden Armstrong <cadenarmstrong@gmail.com>
Clara Brasseur <cebrasseur@gmail.com> <cbrasseur@stsci.edu>
Clara Brasseur <cebrasseur@gmail.com>
David Collom  <dmcollom@gmail.com> <david.m.collom@gmail.com>
David Collom  <dmcollom@gmail.com> <dcollom@lco.global>
David Collom  <dmcollom@gmail.com> <dcollom@localhost.localdomain>
David Collom  <dmcollom@gmail.com> <dcollom@dcollom-linux.lco.gtn>
David Gonzalez <david.gonzalez.lopez.tercero@ext.esa.int> <davidglt@hotmail.com>
Dino Bektesevic <dinob@uw.edu>
E. Madison Bray <erik.m.bray@gmail.com>
E. Madison Bray <erik.m.bray@gmail.com> <embray@stsci.edu>
Edward Gomez <edward@gomez.me.uk>
Elena Colomo <ecolomo@sciops.esa.int>
Eric Koch <koch.eric.w@gmail.com>
Erwan Pannier <erwan.pannier@centralesupelec.fr>
Fran Raga <franka1986@gmail.com> <All4Gis@users.noreply.github.com>
Fred Moolekamp <fred3public@gmail.com>
Gregory Dubois-Felsmann <gpdf@ipac.caltech.edu>
Hadrien Devillepoix <hadriendvpx@gmail.com>
Hans Moritz Guenter <moritz.guenther@gmx.de>
Henrik Norman <honke.norman@gmail.com> <Honke.norman@gmail.com>
Henrik Norman <honke.norman@gmail.com> <hnorma@kth.se>
Henrik Norman <honke.norman@gmail.com> <henrik@winterway.eu>
Jaladh Singhal <jaladhsinghal@gmail.com>
James Dempsey <james.dempsey@csiro.au> <dem040@csiro.au>
James Guillochon <guillochon@gmail.com>
Javier Ballester <javier.ballester@ext.esa.int>
Javier Duran <jduran@sciops.esa.int>
Javier Duran <jduran@sciops.esa.int> <javier.duran@sciops.esa.int>
Javier Duran <jduran@sciops.esa.int> <jduran@dhcp-10-66-197-109.esac.esa.int>
Javier Duran <jduran@sciops.esa.int> <jduran@dhcp-10-66-197-144.esac.esa.int>
Javier Duran <jduran@sciops.esa.int> <jduran@dhcp-10-66-197-161.esac.esa.int>
Javier Duran <jduran@sciops.esa.int> <jduran@dhcp-10-66-197-218.esac.esa.int>
Javier Duran <jduran@sciops.esa.int> <jduran@dhcp-10-66-197-221.esac.esa.int>
Javier Duran <jduran@sciops.esa.int> <jduran@dhcp-10-66-197-53.esac.esa.int>
Javier Espinosa <javier.espinosa@esa.int>
Javier Espinosa <javier.espinosa@esa.int> <64952559+jespinosaar@users.noreply.github.com>
Javier Espinosa <javier.espinosa@esa.int> <javier.espinosa@sciops.esa.int>
Javier Espinosa <javier.espinosa@esa.int> <jespinosa@esac01107125.home>
Javier Espinosa <javier.espinosa@esa.int> <j.espinosa.aranda@gmail.com>
Javier Espinosa <javier.espinosa@esa.int> <javier.espinosa@ext.esa.int>
Jennifer Medina <jmedina@stsci.edu>
Jesus Juan Salgado <jesusjuansalgado@gmail.com>
Jon Juaristi Campillo <juaristi@uni-heidelberg.de>
Jonathan Gagne <jonathan.gagne.1@gmail.com>
Jordan Mirocha <mirochaj@gmail.com> <mirocha@rl1-140-39-dhcp.int.colorado.edu>
Jorge Fernandez Hernandez <Jorge.Fernandez.Hernandez@ext.esa.int>
Jorge Fernandez Hernandez <Jorge.Fernandez.Hernandez@ext.esa.int> <jorge.masterastro@gmail.com>
Juan Carlos Segovia <juancarlos.segovia@gmail.com>
Juanjo Bazán <jjbazan@gmail.com>
Julien Milli <julien.milli@wanadoo.fr>
Julien Woillez <jwoillez@eso.org> <jwoillez@gmail.com>
Julien Woillez <jwoillez@eso.org> <jwoillez@gmail.org>
Jure Zakrajšek <jure.zakrajsek2@gmail.com>
Jure Zakrajšek <jure.zakrajsek2@gmail.com> <64775776+jurezakrajsek@users.noreply.github.com>
Kathleen Kiker <kathleen@b612foundation.orgm> <72056544+KatKiker@users.noreply.github.com>
Kelvin Lee <kin.long.kelvin.lee@gmail.com>
Kyle Willett <willettk@gmail.com>
Larry Bradley <larry.bradley@gmail.com>
Loïc Séguin-C <loicseguin@gmail.com> <lsc@loicseguin.com>
Luis Valero Martín <lvaleromartin@gmail.com>
Madhura Parikh <madhuraparikh@gmail.com>
Magnus Persson <magnusp@vilhelm.nu>
Magnus Persson <magnusp@vilhelm.nu> <vilhelmp@gmail.com>
Manon Marchand <manonmarchand22@gmail.com>
Maria H. Sarmiento <mhsarmiento@sciops.esa.int>
Matthew Craig <mattwcraig@gmail.com>
Matthieu Baumann <matthieu.baumann@astro.unistra.fr> <baumannmatthieu0@gmail.com>
Michael Mommert <mommermiscience@gmail.com> <michael.mommert@nau.edu>
Michael Mommert <mommermiscience@gmail.com> <mommermi@users.noreply.github.com>
Michael St. Clair <mstclair@millionconcepts.com>
Michael St. Clair <mstclair@millionconcepts.com> <64057573+m-stclair@users.noreply.github.com>
Michele Costa <thenocturnalastrostudent@gmail.com>
Miguel de Val-Borro <miguel.deval@gmail.com> <miguel@archlinux.net>
Mitchell Stringfellow <mitchell.stringfellow@csiro.au>
Natanael Cardoso <natanael_magalhaes@msn.com>
Natalie Korzh <nkorzh@oberlin.edu> <nkorzh@longella2020.local.stsci.edu>
Naveen Srinivasan <172697+naveensrinivasan@users.noreply.github.com>
Nicholas Earl <contact@nicholasearl.me>
Oliver Oberdorf <ooberdorf@gemini.edu>
Oliver Oberdorf <ooberdorf@gemini.edu> <oly@oberdorf.org>
Pey Lian Lim <lim@stsci.edu> <2090236+pllim@users.noreply.github.com>
Prajwel Joseph <prajwel.pj@gmail.com>
Raul Gutierrez <raul.gutierrez@sciops.esa.int> <Raul Gutierrez@sciops.esa.int>
Raul Gutierrez <raul.gutierrez@sciops.esa.int> <Raul.Gutierrez@sciops.esa.int>
Rounak Agarwal <rounakr.ag73@gmail.com>
Sam Bianco <sbianco@stsci.edu> <70121323+snbianco@users.noreply.github.com>
Sam Lee <orionlee@yahoo.com>
Sashank Mishra <sashankmishra27@gmail.com
Simon Alinder <simon.alinder@astro.lu.se>
Simon Alinder <simon.alinder@astro.lu.se> <92031780+AlinderS@users.noreply.github.com>
Simon Conseil <contact@saimon.org> <sconseil@gemini.edu>
Simon Conseil <contact@saimon.org> <simon.conseil@univ-lyon1.fr>
Simon Liedtke <liedtke.simon@googlemail.com>
Syed Gilani <sgilani@stsci.edu> <59292422+syed-gilani@users.noreply.github.com>
Syed Gilani <sgilani@stsci.edu> <sgilani@sgilani.local.stsci.edu>
Syed Gilani <sgilani@dmdtemp2020.local.stsci.edu>
Tinuade Adeleke <summittinuade@gmail.com>
Tim Galvin <gal16b@csiro.au>
Tomas Alonso Albi <tomas.alonsoalbi@esa.int>
Tristan Dijkstra <tristan.dijkstra@gmail.com>
Volodymyr Savchenko <contact@volodymyrsavchenko.com> <Volodymyr.Savchenko@unige.ch>
Volodymyr Savchenko <contact@volodymyrsavchenko.com> <volodymyrss@users.noreply.github.com>
