language: python

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed for sphinx builds, which can no longer
# be installed with sudo apt-get.
addons:
    apt:
        packages:
            - graphviz
            - texlive-latex-extra
            - dvipng

python:
    - 2.7
    - 3.4

env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - MAIN_CMD='python setup.py'
        - NUMPY_VERSION=1.10
        - ASTROPY_VERSION=stable
        - CONDA_DEPENDENCIES='requests beautiful-soup matplotlib html5lib'
        - PIP_DEPENDENCIES='keyring aplpy pyregion'

    matrix:
        - SETUP_CMD='egg_info'

        - SETUP_CMD='test'

matrix:
    include:

        # Test for py 3.5 (move this up to the main matrix once beautiful-soup is in conda)
        - python: 3.5
          env: SETUP_CMD='egg_info'
        - python: 3.5
          env: SETUP_CMD='test'
               CONDA_DEPENDENCIES='requests matplotlib html5lib'
               PIP_DEPENDENCIES='keyring aplpy pyregion beautifulsoup4'

        # Do a coverage test in Python 2.
        - python: 2.7
          env: SETUP_CMD='test --coverage'

        # Check for sphinx doc build warnings - we do this first because it
        # may run for a long time
        - python: 2.7
          env: SETUP_CMD='build_sphinx -w'

        # Python 3.3 doesn't have numpy 1.10 in conda, revoke this commit once
        # it's available in the astropy-ci-extras channel
        - python: 3.3
          env: SETUP_CMD='egg_info'
        - python: 3.3
          env: SETUP_CMD='test' NUMPY_VERSION=1.9

        # Try Astropy development and LTS version
        - python: 2.7
          env: ASTROPY_VERSION=development SETUP_CMD='test'
        - python: 3.5
          env: ASTROPY_VERSION=development SETUP_CMD='test'
               CONDA_DEPENDENCIES='requests matplotlib html5lib'
               PIP_DEPENDENCIES='keyring aplpy pyregion beautifulsoup4'
        - python: 2.7
          env: ASTROPY_VERSION=lts SETUP_CMD='test'
        - python: 3.5
          env: ASTROPY_VERSION=lts SETUP_CMD='test'
               CONDA_DEPENDENCIES='requests matplotlib html5lib'
               PIP_DEPENDENCIES='keyring aplpy pyregion beautifulsoup4'

        # Try with optional dependencies disabled
        - python: 2.7
          env: SETUP_CMD='test'
               CONDA_DEPENDENCIES='requests beautiful-soup html5lib'
               PIP_DEPENDENCIES='keyring'
        - python: 3.5
          env: SETUP_CMD='test'
               CONDA_DEPENDENCIES='requests html5lib'
               PIP_DEPENDENCIES='keyring beautifulsoup4'

        # Try older numpy versions
        - python: 2.7
          env: NUMPY_VERSION=1.9 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.8 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.7 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.6 SETUP_CMD='test'

        # Do a PEP8 test
        - python: 2.7
          env: MAIN_CMD='pep8 astroquery --count' SETUP_CMD=''

    allow_failures:
        - env: MAIN_CMD='pep8 astroquery --count' SETUP_CMD=''

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh

script:
   - $MAIN_CMD $SETUP_CMD

after_success:
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then
          coveralls --rcfile='astroquery/tests/coveragerc';
      fi
