# We set the language to minimal because the language ends up being
# irrelevant anyway, since we install Python ourselves using conda.
language: minimal

os:
    - linux

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed for sphinx builds, which can no longer
# be installed with sudo apt-get.
addons:
    apt:
        packages:
            - graphviz

stage: Initial tests

stages:
   - name: Initial tests
   - name: Test docs, astropy dev, and without optional dependencies
   - name: Cron tests
     if: type = cron
   - name: Tests with other Python/Numpy versions
   - name: Deploy
     if: ((branch = master) AND type != pull_request AND type != cron)
   - name: Remote data tests
     if: type != pull_request

env:
    global:
        # The following versions are the 'default' for tests, unless
        # overridden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - PYTHON_VERSION=3.7
        - MAIN_CMD='python setup.py'
        - NUMPY_VERSION=stable
        - ASTROPY_VERSION=stable
        - CONDA_DEPENDENCIES='requests beautifulsoup4 html5lib keyring aplpy matplotlib pyregion jinja2 flask regions'
        # pandas is used as a workaround of an astropy issue, sometimes it's required for the remote tests
        - CONDA_DEPENDENCIES_REMOTE='requests beautifulsoup4 html5lib keyring aplpy matplotlib pyregion jinja2 flask pandas regions'
        - PIP_DEPENDENCIES='https://github.com/keflavich/httpbin/archive/master.zip astropy_healpix mocpy>=0.5.2 pytest-dependency pytest-astropy'
        - HTTP_BIN_CMD="import httpbin; httpbin.app.run()"
        - RUN_HTTPBIN='python -c "$HTTP_BIN_CMD" & ACTIVE_HTTPBIN=True'
        - SETUP_CMD='test'
        - CONDA_CHANNELS='astropy'
        - EVENT_TYPE='pull_request push'
        - DEBUG=True

    matrix:
        - PYTHON_VERSION=2.7 SETUP_CMD='egg_info'
        - PYTHON_VERSION=3.7 SETUP_CMD='egg_info'

matrix:

    # Don't wait for allowed failures
    fast_finish: true

    include:
        # Testing remote-data when running builds on master or with
        # cron. Starting these early as they take much longer to run. Using
        # both short and long versions for remote-data to help test the
        # astropy test command.
        - os: linux
          stage: Remote data tests
          env: EVENT_TYPE='push cron' DEBUG=True ASTROPY_VERSION=dev
               SETUP_CMD='test -R -V -a "--durations=50"'
               CONDA_DEPENDENCIES=$CONDA_DEPENDENCIES_REMOTE
        - os: linux
          stage: Remote data tests
          env: EVENT_TYPE='push cron' PYTHON_VERSION=2.7
               SETUP_CMD='test --remote-data -V -a "--durations=50"'
               CONDA_DEPENDENCIES=$CONDA_DEPENDENCIES_REMOTE
               KEYRING_VERSION='<12.0' PYTEST_VERSION='<3.7'

        # No need to run it from cron
        # Try MacOS X
        - os: osx
          stage: Cron tests
          env: EVENT_TYPE='cron'

        - os: linux
          env: SETUP_CMD='test --coverage'

        # Check for sphinx doc build warnings - we do this first because it
        # may run for a long time
        - os: linux
          stage: Test docs, astropy dev, and without optional dependencies
          env: SETUP_CMD='build_docs -w'

        # Try all python versions and Numpy versions. Since we can assume
        # that the Numpy developers have taken care of testing Numpy with
        # different versions of Python, we can vary Python and Numpy
        # versions at the same time. We don't expect any of these to fail in
        # master for cron jobs.  secretstorage is a keyring dependency, we
        # need to pin the version number to make this job work.
        # Test the oldest astropy version without optional dependencies.
        - os: linux
          stage: Tests with other Python/Numpy versions
          env: PYTHON_VERSION=3.5 NUMPY_VERSION=1.12  KEYRING_VERSION='<12.0'
               CONDA_DEPENDENCIES="keyring requests beautifulsoup4 html5lib secretstorage"
               SECRETSTORAGE_VERSION='<3.0.1'
               ASTROPY_VERSION=2 PYTEST_VERSION='<3.7'
        - os: linux
          stage: Tests with other Python/Numpy versions
          env: PYTHON_VERSION=3.5.5 NUMPY_VERSION=1.12 KEYRING_VERSION='<12.0'
               ASTROPY_VERSION=3.0 APLPY_VERSION='<2.0'

        - os: linux
          stage: Tests with other Python/Numpy versions
          env: PYTHON_VERSION=3.6 NUMPY_VERSION=1.12

        - os: linux
          stage: Test docs, astropy dev, and without optional dependencies
          env: ASTROPY_VERSION=development EVENT_TYPE='pull_request'

        # Try with optional dependencies disabled
        - os: linux
          stage: Test docs, astropy dev, and without optional dependencies
          env: PYTHON_VERSION=2.7  KEYRING_VERSION='<12.0' PYTEST_VERSION='<3.7'
               CONDA_DEPENDENCIES='requests beautifulsoup4 html5lib keyring'
               ASTROPY_VERSION=lts NUMPY_VERSION=1.13
        - os: linux
          stage: Test docs, astropy dev, and without optional dependencies
          env: CONDA_DEPENDENCIES='requests beautifulsoup4 html5lib keyring'
               NUMPY_VERSION=1.14

        # Do a PEP8 test with pycodestyle
        - os: linux
          env: MAIN_CMD='pycodestyle astroquery --count'
               SETUP_CMD='' EVENT_TYPE='push pull_request'

        - stage: Deploy
          git:
            depth: False
          env: SETUP_CMD='sdist' EVENT_TYPE='push'
          deploy:
            provider: pypi
            user: astroquery
            password:
              secure: DtqyQkllGcWuKOVMsu9RWRiobeL8bdpMxwdSYpob4Cqj0D2hLLx3w50qr0qpDCFzioB3rXnhbtPKEzHB+4fTFT/Rjito32fFPUtee2Rw4SCe4YIlS0ksPOTmxkeoh2TQLIYcNPPoI7UpUX6uC65nzgCUTmZVoiCweQE+i5GhEBI=
            on:
              branch: master
          before_install: if [[ ! -z $(echo $TRAVIS_COMMIT_MESSAGE | grep -E "\[nodeploy\]") ]]; then echo "Skipping deployment as indicated by commit message"; travis_terminate 0; fi

    allow_failures:
        # Allow remote-data tests to fail.
        - os: linux
          stage: Remote data tests
          env: EVENT_TYPE='push cron' DEBUG=True ASTROPY_VERSION=dev
               SETUP_CMD='test -R -V -a "--durations=50"'
               CONDA_DEPENDENCIES=$CONDA_DEPENDENCIES_REMOTE
        - os: linux
          stage: Remote data tests
          env: EVENT_TYPE='push cron' PYTHON_VERSION=2.7
               SETUP_CMD='test --remote-data -V -a "--durations=50"'
               CONDA_DEPENDENCIES=$CONDA_DEPENDENCIES_REMOTE
               KEYRING_VERSION='<12.0' PYTEST_VERSION='<3.7'

install:
    - git clone git://github.com/astropy/ci-helpers.git
    - source ci-helpers/travis/setup_conda.sh

script:
   - $RUN_HTTPBIN
   - $MAIN_CMD $SETUP_CMD

after_success:
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then
          codecov;
      fi
