language: python

python:
    - 2.7
    - 2.6
    - 3.2
env:
    - NUMPY_VERSION=1.6.2
    - NUMPY_VERSION=1.5.1
    - NUMPY_VERSION=1.4.1

matrix:
    exclude:
        - python: 3.2
          env: NUMPY_VERSION=1.5.1
        - python: 3.2
          env: NUMPY_VERSION=1.4.1


before_install:
   # We do this to make sure we get the dependencies so pip works below
   - sudo apt-get update -qq
   - sudo apt-get install -qq python-numpy python-scipy cython libatlas-dev liblapack-dev gfortran
install:
   - export PYTHONIOENCODING=UTF8 # just in case
   - pip install "numpy==$NUMPY_VERSION" --use-mirrors
   - pip -q install Cython --use-mirrors
   - pip install atpy --use-mirrors # for NED
   - pip install asciitable --use-mirrors
   - pip install beautifulsoup4 --use-mirrors # for NIST
   - pip install vo --use-mirrors # for NED
   - pip install coords --use-mirrors # for NRAO
   - pip install -e git+http://github.com/astropy/astropy.git#egg=astropy
script: python setup.py test

