include README.rst

include ez_setup.py
include setuptools_bootstrap.py

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

exclude *.pyc *.o
prune docs/_build
prune build
