include LICENSE.rst
include README.rst
include CHANGES.rst
include CITATION
include astroquery/CITATION

include pyproject.toml
include tox.ini

recursive-include astroquery *.py
recursive-include docs *
recursive-include licenses *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
