name: CI-crontests

on:
  push:
    # Run this job on release tags, but not on pushes to the main branch
    tags:
      - '*'
  schedule:
    # run every Friday at 22:00 UTC
    - cron: '0 22 * * 5'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    # To enable this cron job on forks, comment out the following line
    if: github.repository == 'astropy/astroquery' || github.event_name != 'schedule'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: py3.12 pre-release all deps
            os: ubuntu-latest
            python: '3.12'
            toxenv: py312-test-alldeps-predeps
            toxargs: -v
            toxposargs: -v

          - name: Documentation build with linkcheck
            os: ubuntu-latest
            python: '3.10'
            toxenv: linkcheck

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
