name: CI-crontests

on:
  push:
    # Run this job on release tags, but not on pushes to the main branch
    tags:
    - '*'
  schedule:
    # run every Friday at 22:00 UTC
    - cron: '0 22 * * 5'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    if: github.repository == 'astropy/astroquery'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: py3.13 pre-release all deps
            os: ubuntu-latest
            python: '3.13'
            toxenv: py313-test-alldeps-predeps
            toxargs: -v
            toxposargs: -v

          - name: Documentation build with linkcheck
            os: ubuntu-latest
            python: '3.12'
            toxenv: linkcheck

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
