# Developer version testing as well as cron testings are in separate workflows
name: CI

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main
  schedule:
    # run every Monday at 5am UTC
    - cron: '0 5 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: oldest version for all dependencies
            os: ubuntu-latest
            python: "3.9"
            toxenv: py39-test-oldestdeps-alldeps
            toxargs: -v

          - name: OSX, py310, all optional dependencies
            os: macos-latest
            python: "3.10"
            toxenv: py310-test-alldeps
            toxargs: -v

          - name: Windows, py311, mandatory dependencies only
            os: windows-latest
            python: "3.11"
            toxenv: py311-test
            toxargs: -v

          - name: Linux ARM, py312, all optional dependencies
            os: ubuntu-24.04-arm
            python: "3.12"
            toxenv: py312-test-alldeps
            toxargs: -v


    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
    - name: Upload coverage to codecov
      if: contains(matrix.toxenv,'-cov')
      uses: codecov/codecov-action@ad3126e916f78f00edff4ed0317cf185271ccc2d  # v5.4.2
      with:
        file: ./coverage.xml

  egg_info:
    name: egg_info with Python 3.9
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: "3.9"
    - name: Run egg_info
      run: python setup.py egg_info
