# Developer version testing as well as cron testings are in separate workflows
name: CI

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
    branches:
    - main
  schedule:
    # run every Monday at 5am UTC
    - cron: '0 5 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: Code style checks
            os: ubuntu-latest
            python: 3.x
            toxenv: codestyle

          - name: oldest version for all dependencies
            os: ubuntu-latest
            python: "3.10"
            toxenv: py310-test-oldestdeps-alldeps
            toxargs: -v

          - name: OSX, py312, all optional dependencies
            os: macos-latest
            python: "3.12"
            toxenv: py312-test-alldeps
            toxargs: -v

          - name: Windows, py311, mandatory dependencies only
            os: windows-latest
            python: "3.11"
            toxenv: py311-test
            toxargs: -v

          - name: Linux ARM, py312, all optional dependencies
            os: ubuntu-24.04-arm
            python: "3.12"
            toxenv: py312-test-alldeps
            toxargs: -v


    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: python -m pip install --upgrade tox
    - name: Run tests
      run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
    - name: Upload coverage to codecov
      if: contains(matrix.toxenv,'-cov')
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
      with:
        file: ./coverage.xml
